.form {
    margin-bottom: lookup($sizes, spacing xl);
    &__item {
        margin-bottom: lookup($sizes, spacing lg);
        span {
            color: lookup($colors, brand dark-red);
        }
    }
    &__label {
        text-align: left;
    }
}
