.section {
    padding: {
        top: 120px;
        bottom: 80px;
    }
    &__wrap {
        @include container;
        &--center {
            text-align: center;
        }
    }
    &--cards {
        background-color: lookup($colors, brand gray);
    }
}
