.title {
    display: inline-block;
    line-height: 1;
    &__icon {
        height: lookup($typography, title size whisper);
        margin: {
            right: lookup($sizes, spacing xs);
        }
        @include breakpoint(large) {
            height: lookup($typography, title size talk);
        }
    }
    &--megaphone {
        font-family: lookup($typography, family antonio);
        font-size: lookup($typography, title size scream);
        letter-spacing: -1px;
        margin: {
            bottom: lookup($sizes, spacing lg);
        }
        @include breakpoint(large) {
            font-size: lookup($typography, title size megaphone);
            margin: {
                bottom: lookup($sizes, spacing xl);
            }
        }
    }
    &--scream {

    }
    &--shout {

    }
    &--talk {
        font-size: lookup($typography, title size whisper);
        @include breakpoint(large) {
            font-size: lookup($typography, title size talk);
        }
        font-weight: lookup($typography, weight light);
        margin: {
            bottom: 60px;
        }
    }

    &--highlight {
        color: lookup($colors, brand dark-red);
        font-family: lookup($typography, family antonio);
        margin: {
            bottom: lookup($sizes, spacing lg);
        }
        @include breakpoint(large) {
            margin: {
                bottom: lookup($sizes, spacing xxl);
            }
        }
    }
    &--red {
        color: lookup($colors, brand dark-red);
    }
    &--has-icon {
        display: flex;
    }
    &--uppercase {
        text-transform: uppercase;
    }
}
